*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #ccc;
    font-size: 1.6rem;
    font-family: helvetica, sans-serif;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 475px);
}
.map {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 950px;
    height: 534px;
}
.cam-container {
    position: relative;
}
.cam-container--large {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}
.info-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}
@keyframes animation-fade-in {
    0% {
        color: rgba(255,255,255,1.0);
    }
    50% {
        color: rgba(255,255,255,0);
    }
    100% {
        color: rgba(255,255,255,0);
    }
}

.cam-cover {
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 86%, rgba(0,0,0,1) 88%, rgba(0,0,0,1) 100%);
    animation: animation-fade-in 3s ease-in forwards;
    font-size: 40px;
    display: grid;
    place-items: center;
}
.game-panel {
    padding: 24px;
}
.location-message {
    font-size: 20px;
    color: #fc0;
}
.distance-message {
    margin-top: 12px;
    font-size: 40px;
}
.next-button {
    margin-top: 12px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}
.hidden {
    display: none;
}
