*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #ccc;
    font-size: 1.6rem;
    font-family: helvetica, sans-serif;
}
.top {
    display: grid;
    grid-template-columns: repeat(auto-fit, 950px);
}
.map {
    width: 950px;
    height: 534px;
}
.iss {
    width: 950px;
    height: 534px;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 950px);
}